{#Voir index.html#}
{% extends "./index.html" %}

{# Title #}
{% block title %}Jeu{% endblock %}

{# Head #}
{% block head %}
{{ parent() }}

{% endblock %}

{#Content #}
{% block contenu %}
<div id="connexion">
<form action="/" method="post" id="formulaire_connexion">
<label for="pseudonyme">Entrez votre pseudo :</label>
<input type="text" name="pseudonyme" id="pseudonyme" placeholder="Votre pseudonyme..." size="50" autofocus required />
<input type="submit" id="envoi_pseudonyme" value="Lancer la partie" />
</form>
</div>

<div id="quizz">
<section id="attente">

</section>

<section id="questions">

</section>

<form action="/" method="post" id="formulaire_reponse">
<input type="text" name="reponse" id="reponse" placeholder="Votre réponse..." size="50" autofocus />
<input type="submit" id="envoi_reponse" value="Envoyer" />
</form>
<section id="infos">
<div id="decompte">

</div>
<div id="reponsesproposees">

</div>

<div id="gagnants">

</div>
<div id="scores">

</div>
<div class="clearer">&nbsp;</div>
</section>
</div>
{% endblock %}

{% block script %}
{{ parent() }}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/front.js"></script>
{% endblock %}